body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(236, 236, 247) !important;
}

a {
    text-decoration: none !important;
}

.connexion {
    height: 6vw !important;
    width: 15vw !important;
    background-color: rgb(29, 29, 123);
    border-bottom-right-radius: 1.2vw;
    text-align: center !important;
    box-shadow: 2px 2px 10px grey;
    position: fixed !important;
    top: 0px;
    left: 0px;
    z-index: 10 !important;
}

.mainpagebutton {
    height: 6vw !important;
    width: 15vw !important;
    background-color: rgb(29, 29, 123);
    border-bottom-left-radius: 1.2vw;
    text-align: center !important;
    box-shadow: 2px 2px 10px grey;
    position: fixed !important;
    top: 0px;
    right: 0px;
    z-index: 10 !important;
}


.epsi_logo {
    height: 70% !important;
    width: auto;
    margin-top: 7%;
    margin-bottom: 7%;
    float: right;
}

.udepsi_logo {
    width:70% ;
    height:auto;
    margin-right: 2%;
    margin-top: 8%;
    float: right;
}

.connect {
    background-color: rgb(255, 255, 255);
    padding-top: 0.1vw;
    padding-bottom: 0.2vw;
    margin-top: 0.9vw;
    margin-bottom: 0vw;
    font-family: "Source Sans Pro";
    color : #7A869B;
    font-size: 1.25vw;
    width:70%;
    float: left;
    margin-left: 15%;
}

.connect:hover {
    color: rgb(112, 114, 131);
    transition: 0.3s;
    text-shadow: 2px -2px #69696934;
    font-weight: 500;
}

.register {
    color: white;
    font-family: "Segoe UI";
    font-weight: 300;
    font-style: italic;
    font-size: 1.15vw;
    margin-top: 0.2vw;
}

.register:hover {
    font-size: 1.30vw;
    transition: 0.3s;
    color: rgb(255, 255, 255)
}

.searchbar {
    float:left;
    margin-top: 1vw !important;
    margin-left:29vw;
    background-color: rgb(255, 255, 255);
    width: 40vw !important;
    height: 3vw !important;
    border-radius: 3px;
    border: #cacaca solid 1px;
}

.search {
    padding: 0px;
    float: left;
    width: 73% !important;
    height: 100% !important;
    color: rgb(102, 102, 102);
    border-radius: 3px;
    margin-left: 2%;
    margin-bottom: 1px;
    outline: none;
    border: none;
    font-size: 1vw;
}

.form {
    outline: none;
    border: none;
    height: 100%;
}

.others {
    float: right;
    height: 100%;
    width: 25%;
}

.category{
    padding: 0px;
    width: 70% !important;
    height: 100% !important;
    background-color: #ffffff;
    margin-bottom: 1px;
    border-right: #cacaca solid 1px;
    border-left: #cacaca solid 1px;
    border-top: none;
    border-bottom: none;
    outline: none;
    color: rgb(102, 102, 102);
    text-align: center;
    font-size: 1vw;
    float: right;
}

.magnifier {
    width: auto;
    height: 50%;
    margin-bottom: 2%;
    float: left;
    margin-left:25%;
    font-size: 1.25vw;
}

.submit{
    padding: 0px;
    float: left;
    width: 30% !important;
    height: 100% !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #e2e2e2;
    margin-bottom: 1px;
    outline: none;
    border: none;
    float: right;
}

.pp {
    font-family: "Source Sans Pro";
    color : #7A869B;
    font-size: 1.25vw;
    position: absolute;
    left: 10%;
    top:5%;
    width:25%;
    height: 90%;
}

.pp1 {
    font-family: "Source Sans Pro";
    color : #7A869B;
    font-size: 1.25vw;
    position: absolute;
    left: 20%;
    top:12.5%;
    width:19%;
    height: 30%;
}

.main {
    float:left;
    margin-top: 0.3vw;
    margin-left: 0.2vw !important;
    margin-right: 0.2vw !important;
}

.course {
    width: 30vw;
    height: 30vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px rgb(177, 177, 177) !important;
    display: inline-block;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top:2vw;
    margin-bottom:2vw;
    overflow-y: hidden;
    line-height: 2.5vw;
}

.course-title {
    color: #56508b;
    font-weight:500;
    font-size: 1.6vw;
    margin:auto;
    margin-right:3vw;
    width:60%;
    float: right;
}

.course-subtitle {
    width: 60%;
    margin: auto;
    margin-right:3vw;
    color: #7a7a7a;
    font-size: 1.3vw;
    font-weight: 200;
    float:right;
}

.course-line {
    margin: auto;
    height: 1px;
    width: 80%;
    background-color: #c9c9c9;
    margin-top:0.5vw;
    margin-bottom: 0.18vw;
    margin-right:3vw;
    float: right;
}

.course-desc {
    float:right;
    margin: auto;
    height: 55%;
    width: 90%;
    color: #474747;
    font-size: 1.6vw;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 5%;
    overflow : hidden;
    font-family: "Source sans pro";
}

.course-tech {
    height: 2.5vw;
    width: auto;
    height : 20%;
    float:left;
}

.course_date {
    float: left;
    width: 50%;
    height:8%;
    margin: auto;
    margin-left:5%;
    color: #7a7a7a;
    font-size: 1.3vw;
    font-weight: 200;
    float:left;
}

.sinscrire {
    height: 8%;
    float: right;
    width: 35%;
    margin-right: 10%;
    margin-top: 0.5%;
    box-shadow: 2px 2px 2px rgb(177, 177, 177) !important;
    border: solid 1px #c9c9c9;
    font-size: 1.4vw;
    color: #474747;
    line-height: 2.2vw;
}

.content-main {
    height: 80vh;
    overflow: show;
    display:inline-block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C2C2D6;
    color: rgb(0, 0, 0);
    height: 4vw;
    border-top: solid rgb(166, 165, 168) 2px;
    text-align: center;
}

.top_button {
    height: 6vw;
    width: 3vw;
    position: fixed;
    bottom: 6vw;
    left: -150px; 
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    outline: none;
    border: none;
    background-color: rgb(29, 29, 123);
    color: rgb(224, 224, 224);
    cursor: pointer;
    transition: 0.5s;
    padding: none;
    z-index: 10 !important;
}

.top_button:hover {
    background-color: rgb(88, 88, 88);
}

.top_arrow {
    height: 100%;
    width: 100%;
    float: left;
    margin-right: 1%;
}

.register_form {
    width: 100% !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px rgb(177, 177, 177) !important;
    display: inline-block;
    margin-top:2vw;
    margin-bottom:2vw;
    overflow-y: hidden;
    line-height: 2.5vw;
    text-align: center;
    line-height: 2vw;
}

.void {
    height: 5vw;
    width: 100%;
    float: left;
}

.register_form p {
    margin:auto;
}

.register_form label {
    margin-top: 2%;
    margin-bottom:0%;
    font-size: 1vw;
    color: #474747;
    font-weight: 200;
}

.register_form input {
    text-align: center;
    color: #474747;
    font-size: 1.1vw;
}

.btn_accueil {
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 200;
    font-size: 1.5vw;
    font-family: "Segoe UI";
    line-height: 1.8vw;
    padding-top:4%;
    padding-left: 10%;
    padding-right: 10%;
    float: left;
}

.form_btn {
    border: solid rgb(187, 187, 187) 1px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.register_title {
    text-align: center;
    font-size: 2vw;
    font-family: "Ubuntu";
    color: rgb(133, 133, 133);
    padding-top:2%;
    padding-bottom:2%;
}

.form_btn:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.4s;
}

#top_cours {
    position:fixed;
    left: -15vw;
    top: 12vw;
    background-color: #ffffff;
    height: 20vw;
    max-height: 600px;
    width: 13vw;
    float : left;
    transition: 0.8s;
    box-shadow: 4px 4px 20px rgb(177, 177, 177) !important;
}

#top_formateurs {
    position:fixed;
    right: -15vw;
    top: 12vw;
    background-color: #ffffff;
    height: 20vw;
    max-height: 600px;
    width: 13vw;
    float : left;
    transition: 0.8s;
    box-shadow: 4px 4px 20px rgb(177, 177, 177) !important;
}

#btn_formateurs {
    cursor: pointer;
    font-size: 1vw;
    color: white;
    position:fixed;
    top: 10vw;
    background-color: rgb(29,29,123);
    height: 2.5vw;
    width: 9vw;
    float : left;
    transition: 0.8s;
    border:none;
    right:0vw;
    padding:0px;
    z-index: 10;
    text-align: center;
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw; 
}

#btn_cours {
    cursor: pointer;
    font-size: 1vw;
    color: white;
    position:fixed;
    top: 10vw;
    background-color: rgb(29,29,123);
    height: 2.5vw;
    width: 9vw;
    float : left;
    transition: 0.8s;
    border:none;
    left:0vw;
    padding:0px;
    z-index: 10;
    text-align: center;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw; 
}

#btn_formateurs_text {
    margin-top:0.4vw;
}

#btn_cours_text {
    margin-top:0.4vw;
}

.top_text {
    font-size: 1vw;
    margin-top: 5%;
    margin-left: 5%;
    float:left;
    width:90%;
}

.top_cours_text {
    font-size : 1vw
}

.display_profile {
    width: 100% !important;
    color: #474747;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px rgb(177, 177, 177) !important;
    display: inline-block;
    margin-top:2vw;
    margin-bottom:2vw;
    overflow-y: hidden;
    line-height: 2.5vw;
    text-align: center;
    line-height: 2vw;
}

.avatar_utilisateur {
    height: auto;
    width: 30%;
    float:left;
    margin-left:17%;
    margin-top: 5%;
    border:3px solid rgb(97, 97, 97);
    border-radius:2px;
}

.info_utilisateur {
    width:40%;
    height:10vw;
    margin-right:10%;
    margin-top:15%;
    margin-bottom:0%;
    float:right;
    font-size: 1.5vw;
}

.competences_utilisateur {
    width: 46%;
    height:30%;
    float: left;
    margin-top: 11%;
    margin-left: 2%;
    margin-right: 2%;
    font-size:1.5vw;
    font-weight: 200;
    text-align: center;
}

.cours_utilisateur {
    width:46%;
    height:30%;
    float: right;
    margin-top: 10.5%;
    margin-right: 2%;
    margin-left: 2%;
    font-size:1.5vw;
    font-weight: 200;
}

.competence {
    text-align: center;
    width: 60%;
    border: solid 1px #969696;
    margin-top: 3%;
    margin-left:20%;
}

.connexion_option {
    font-size: 1.1vw;
    color: white;
    font-family: "Source Sans Pro";
    line-height: 1.5vw;
    width: 50%;
    font-weight: 200;
    float: right;
    margin-right: 5%;
    margin-bottom: 0%;
}

.connected_as {
    font-size: 1.2vw;
    color: rgb(247, 247, 247);
    font-family: "Source Sans Pro";
    padding-top:2%;
    font-weight: 500;
    float:right;
    width: 60%;
    margin-bottom:3%;
    margin-top: 2%;
    margin-right:2%;
    line-height: 1.6vw;
    overflow: hidden;
}
@media screen and (max-width:1050px){
    .row{
        flex-wrap:nowrap!important;
    }
}